html {
  font-size: 38px !important;
  background-color: #1B1C1D;
}

body div#root div {
  background-color: #1B1C1D;
  font-size: 1rem;
  line-height: 1.5rem !important;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif !important;
  color: rgba(255, 255, 255, 0.9);
}

body div#root div h1,
body div#root div h2,
body div#root div h3,
body div#root div h4,
body div#root div h5,
body div#root div h6 {
  font-family: 'Segoe UI Light', Arial, Helvetica, sans-serif !important;
}
